<section class="content profile-page">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .user-row {
            margin-bottom: 14px;
        }

        .user-row:last-child {
            margin-bottom: 0;
        }

        .dropdown-user {
            margin: 13px 0;
            padding: 5px;
            height: 100%;
        }

        .dropdown-user:hover {
            cursor: pointer;
        }

        .table-user-information>tbody>tr {
            border-top: 1px solid rgb(221, 221, 221);
        }

        .table-user-information>tbody>tr:first-child {
            border-top: 0;
        }


        .table-user-information>tbody>tr>td {
            border-top: 0;
        }

        .toppad {
            margin-top: 20px;
        }

        .addressspan {
            display: block;
            width: 150px;
            word-wrap: break-word;
        }

        .signature {
            padding: 20px 20px 80px 20px;
            border-radius: 10px;
            -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
            box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.40);
            border: none;
            margin-bottom: 30px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            flex-flow: row-reverse;
        }

        .bttn_signature {
            font-size: 25px;
            border-radius: 10px;
            border: none;
            background-color: #0087E8;
            color: white;
            padding: 10px 28px;
        }

        .bttn_signature:focus {
            outline: none;
        }
    </style>
    <div ng-init=cardCtrl.init() class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-6 col-lg-4 card card-raised" ng-repeat="row in cardCtrl.listCard track by $index">
                    <div class="card signature">
                        <h5>{{row.id}}</h5><br />
                        <button class="bttn_signature">SIGNATURE</button>
                        <div class="row">
                            <a href="{{cardCtrl.serviceUrl}}/vcf/index.php?action=export&id={{row.id}}">
                                <i class="fa fa-download" aria-hidden="true"></i></a> |
                            <a href="#/contacts/{{row.id}}/profile"> <i class="fa fa-eye" aria-hidden="true"></i></a> |
                            <a href="#/contacts/{{row.id}}/edit"> <i class="fa fa-pencil" aria-hidden="true"></i></a> |
                            <a data-ng-click="contactCtrl.delete(row._id);"><i class="card-link fa fa-trash-o"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-12 col-lg-6">
                    <div class="card signature">
                        <h5>d2ba4d80-b520-435c-b36c-2550a1585b3e</h5><br />
                        <button class="bttn_signature">SIGNATURE</button>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>