<!-- <h1>Providers List:</h1> -->
<a class="btn btn-primary btn-outline btn-add-provider col-lg-2 col-md-2 col-sm-2  clearfix" href="#/clients/{{clientCtrl.organization_id}}/new">ADD NEW CONTACT</a>
<!-- <table st-table="clientCtrl.listClient" class="table table-striped">
    <thead>
        <tr>
            <th st-sort="providerName">Provider Name</th>
            <th st-sort="pAddress">Public Address</th>
            <th st-sort="phoneNumber">Phone No.</th>
            <th st-sort="location">Location</th>
            <th st-sort="certificateNo">Certificate No.</th>
            <th st-sort="email">Email</th>
            <th st-sort="yearOfEstablishment">Year of Est.</th>         
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>
                <input st-search="providerName" placeholder="Search for Provider Name" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="pAddress" placeholder="Search for Public Address" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="phoneNumber" placeholder="Search for Phone Number" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="location" placeholder="Search for Location" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="certificateNo" placeholder="Search for Certificate No." class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="email" placeholder="Search for SC Email" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="yearOfEstablishment" placeholder="Search for Year of Est." class="input-sm form-control" type="search" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in clientCtrl.listClient">
            <td>{{row.providerName}}</td>
            <td>{{row.pAddress}}</td>
            <td>{{row.phoneNumber}}</td>
            <td>{{row.location | uppercase}}</td>
            <td>{{row.certificateNo | uppercase}}</td>
            <td>{{row.email}}</td>
            <td>{{row.yearOfEstablishment}}</td>
            <td><a href="#/clients/{{row._id}}/edit"></a></a><i class="fa fa-th" aria-hidden="true"></i>
            <td><a href="#/clients/{{row._id}}/edit"> <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            <td><a data-ng-click="clientCtrl.delete(row._id);"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>          
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
        </tr>
    </tfoot>
</table> -->
<div ng-init=clientCtrl.init() class="container-fluid">
    <div class="block-header">
        <h2>All Clients</h2>
    </div>
    <div class="row clearfix">
        <div  ng-repeat="row in clientCtrl.listClient track by $index" class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="card card-raised" style="width: 40rem; box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2); padding:15px 15px 15px 15px;">
                <img class="card-img-top  rounded-circle"  src="img/avatar.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title"> {{row.names.prefix}} {{row.names.first_name}} {{row.names.last_name | cut:true:30:' ...'}}</h4>
                  <!--<p class="card-text">{{row.names.suffix}}</p>-->
                </div>
                <ul class="list-group list-group-flush">  
                  <li class="list-group-item"> Mobile : {{row.phones[0].number}}</li>
                  <li class="list-group-item"> Work : {{row.phones[0].number}}</li>
                  <li class="list-group-item"> Email: {{row.emailAddresses[0].email_address}}</li>
                  <li class="list-group-item"> {{row.addresses[0].address_line1}} {{row.addresses[0].state}}</li>
                 <!-- <li class="list-group-item"> {{row.names.suffix}} </li> -->
                  <li class="list-group-item"> Status:  {{row.names.status}}</li>
                </ul>
               <!-- <ul class="social-links list-inline m-t-10">
                    <li><a title="facebook" href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a title="twitter" href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a title="instagram" href="3"><i class="fab fa-instagram-square"></i></a></li>
                </ul> -->          
                <div class="card-block">
                    <a href="{{clientCtrl.serviceUrl}}/vcf/index.php?action=export&id={{row.names.id}}">  <i class="fa fa-download" aria-hidden="true"></i></a> | 
                    <a href="#/clients/{{row.names.id}}/profile"> <i class="fa fa-eye" aria-hidden="true"></i></a> |
                    <a href="#/clients/{{row.names.id}}/edit"> <i class="fa fa-pencil" aria-hidden="true"></i></a> |  
                    <a data-ng-click="clientCtrl.delete(row._id);"><i class="card-link fa fa-trash-o" aria-hidden="true"></i></a>  
                     <!-- <a href="" class="btn btn-raised btn-sm">View Profile</a> -->
              </div>
        </div>
</div>
 
      
</div>
    <div class="row clearfix">
        <div class="col-sm-12 text-center">
            <a href="" class="btn btn-raised g-bg-cyan">ADD NEW CONTACT</a>
        </div>
    </div>
</div>