<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="panel panel-default">
    <div class="panel-heading">Add Client</div>
    <div class="panel-body">
        <div ng-init=clientCtrl.new() class="row">
            <div class="col-xs-9">
                <form class="form-horizontal" autocomplete="off" role="form" novalidate name="formProviders"
                    data-ng-submit="clientCtrl.save(clientCtrl.client)">
                    <fieldset>
                        <!-- <legend>Add a new Provider</legend>
                        <input type="hidden" data-ng-model="clientCtrl.client._id" />

                        

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="providerName">Provider Name:</label>
                            <div class="col-md-3">
                                <input id="providerName" name="providerName" type="text" data-ng-model="clientCtrl.client.providerName" data-ng-class="{empty: clientCtrl.client.providerName.length === 0 || clientCtrl.client.providerName.length === undefined}"
                                    placeholder="Provider Name" class="form-control input-md" required="">
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="phoneNumber">Phone Number:</label>
                            <div class="col-md-3">
                                <input id="phoneNumber" name="phoneNumber" data-ng-model="clientCtrl.client.phoneNumber" data-ng-class="{empty: clientCtrl.client.phoneNumber.length === 0 || clientCtrl.client.phoneNumber.length === undefined}"
                                    type="text" placeholder="Phone Number" class="form-control input-md" required="">
                            </div>
                        </div>
                       

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="pAddress">Public Address:</label>
                            <div class="col-md-3">
                                <input id="pAddress" name="pAddress" type="text" data-ng-model="clientCtrl.client.pAddress" data-ng-class="{empty: clientCtrl.client.pAddress.length === 0 || clientCtrl.client.pAddress.length === undefined}"
                                    placeholder="Public Address" class="form-control input-md" required="">
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="location">Location:</label>
                            <div class="col-md-4">
                                <textarea class="form-control" id="location" data-ng-model="clientCtrl.client.location" data-ng-class="{empty: clientCtrl.client.location.length === 0 || clientCtrl.client.location.length === undefined}"
                                    placeholder="Location" name="location">Location</textarea>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="certificateNo">Certificate No.:</label>
                            <div class="col-md-3">
                                <input id="certificateNo" name="certificateNo" type="text" data-ng-model="clientCtrl.client.certificateNo" data-ng-class="{empty: clientCtrl.client.certificateNo.length === 0 || clientCtrl.client.certificateNo.length === undefined}"
                                    placeholder="Certificate No." class="form-control input-md" required="">

                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Email:</label>
                            <div class="col-md-3">
                                <input id="email" name="email" type="text" data-ng-model="clientCtrl.client.email" data-ng-class="{empty: clientCtrl.client.email.length === 0 || clientCtrl.client.email.length === undefined}"
                                    placeholder="Email" class="form-control input-md" required="">

                            </div>
                        </div>

                      
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="yearOfEstablishment">Year of Est.</label>
                            <div class="col-md-2">
                                <input id="yearOfEstablishment" name="yearOfEstablishment" type="text" data-ng-model="clientCtrl.client.yearOfEstablishment"
                                    data-ng-class="{empty: clientCtrl.client.yearOfEstablishment.length === 0 || clientCtrl.client.yearOfEstablishment.length === undefined}"
                                    placeholder="Year Of Establishment" class="form-control input-md" required="">

                            </div>
                        </div>-->
                        <div class="row">
                            <!--<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                                    <A href="#/users/{{clientCtrl.patient._id}}/edit">Edit Profile</A>
                                </div> -->
                            <div
                                class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                                <ul class="nav nav-tabs  tabs" role="tablist">
                                    <li ng-class="clientCtrl.getTabClass(1)" ng-click="clientCtrl.setActiveTab(1)"
                                        style="width:50%;">
                                        <a class="nav-link active" data-toggle="tab"
                                            href="#/clients/{{clientCtrl.client.id}}/edit" role="tab">PROFILE</a>
                                    </li>
                                    <li ng-class="clientCtrl.getTabClass(2)" ng-click="clientCtrl.setActiveTab(2)"
                                        style="width:50%;">
                                        <a class="nav-link" style="text-align:end;" data-toggle="tab" href="#/social"
                                            role="tab">SOCIAL</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content tabs card-block">
                                <div ng-class="clientCtrl.getTabPaneClass(1)" id="profile" role="tabpanel">
                                    <div
                                        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Hi {{clientCtrl.client.names.prefix}}
                                                    {{clientCtrl.client.names.first_name}}!</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <!-- <div class="col-md-3 col-lg-3" >
                                                            <img alt="User Pic"
                                                                src="img/{{(clientCtrl.id != undefined )? ( (clientCtrl.client.userType == 2 ) ? 'random-avatar'+clientCtrl.id : 'prandom-avatar'+clientCtrl.id) : 'avatar' }}.jpg"
                                                                class="img-circle img-responsive">
                                                        </div> -->
                                                    <!-- Nav tabs -->
                                                    <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 ">
                                                        <table class="table table-user-information">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width:2px"><i
                                                                            class="fa fa-address-card social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td>
                                                                        <h4>Profile</h4>
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-user-circle social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td>Fist Name:</td>
                                                                    <td>
                                                                        <input id="FirstName" name="FirstName"
                                                                            type="text"
                                                                            data-ng-model="clientCtrl.client.names.first_name"
                                                                            data-ng-class="{empty: clientCtrl.client.names.first_name.length === 0 || clientCtrl.client.names.first_name.length === undefined}"
                                                                            placeholder="First Name"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Last Name:</td>
                                                                    <td>
                                                                        <input id="LastName" name="LastName" type="text"
                                                                            data-ng-model="clientCtrl.client.names.last_name"
                                                                            data-ng-class="{empty: clientCtrl.client.names.last_name.length === 0 || clientCtrl.client.names.last_name.length === undefined}"
                                                                            placeholder="Last Name"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Type:</td>
                                                                    <td>{{ (clientCtrl.client.names.user_id == 2 ) ?
                                                                        'Memeber' : 'Admin' }}</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Registration Date:</td>
                                                                    <td>{{clientCtrl.client.names.created_at |
                                                                        date:'yyyy-MM-dd HH:mm:ss Z'}}
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-envelope social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td>Email:</td>
                                                                    <td>
                                                                    </td>
                                                                    <td></td>
                                                                    <td><i class="fa fa-plus-square social_icon"
                                                                            ng-click="clientCtrl.addElement(1,0)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>
                                                                <tr
                                                                    ng-repeat="email in clientCtrl.client.emailAddresses" ng-if="email.status == 'Active' || email.status == 'active'">
                                                                    <td></td>
                                                                    <td>{{email.label }}:</td>
                                                                    <td>
                                                                        <input id="Email" name="Email" type="text"
                                                                            data-ng-model="email.email_address"
                                                                            data-ng-class="{empty: email.email_address.length === 0 || email.email_address.length === undefined}"
                                                                            placeholder="Email"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td><i class="fa fa-minus-square social_icon"
                                                                            ng-click="clientCtrl.removeElement(1,email)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-show="clientCtrl.isAddEmail">
                                                                    <td></td>
                                                                    <td><input id="emailLabel" name="emaillabel"
                                                                            type="text"
                                                                            data-ng-model="clientCtrl.email.label"
                                                                            data-ng-class="{empty: clientCtrl.email.label.length === 0 || clientCtrl.email.label.length === undefined}"
                                                                            placeholder="Label"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td>
                                                                        <input id="Email" name="Email" type="text"
                                                                            data-ng-model="clientCtrl.email.email_address"
                                                                            data-ng-class="{empty: clientCtrl.email.email_address.length === 0 || clientCtrl.email.email_address.length === undefined}"
                                                                            placeholder="Email"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td><i class="fa fa-check-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(1,1)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td><i class="fa fa-minus-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(1,2)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-building social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td>Company:</td>
                                                                    <td>
                                                                        <input id="Company" name="Company" type="text"
                                                                            data-ng-model="clientCtrl.client.organization.name"
                                                                            data-ng-class="{empty: clientCtrl.client.organization.name.length === 0 || clientCtrl.client.organization.name.length === undefined}"
                                                                            placeholder="Company"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Title:</td>
                                                                    <td>
                                                                        <input id="Title" name="Title" type="text"
                                                                            data-ng-model="clientCtrl.client.names.title"
                                                                            data-ng-class="{empty: clientCtrl.client.names.title.length === 0 || clientCtrl.client.names.title.length === undefined}"
                                                                            placeholder="Title"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-envelope social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td>Address:</td>
                                                                    <td>
                                                                    </td>
                                                                    <td></td>
                                                                    <td><i class="fa fa-plus-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(2,0)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>
                                                                <tr
                                                                    ng-repeat-start="address in clientCtrl.client.addresses" ng-if="address.status == 'Active' || address.status == 'active'">
                                                                    <td><i class="fa fa-map-pin social_icon"
                                                                            aria-hidden="false"></i>
                                                                    </td>
                                                                    <td>{{address.label}}:</td>
                                                                    <td></td>

                                                                    <td><i class="fa fa-minus-circle social_icon"
                                                                            ng-click="clientCtrl.removeElement(2,address)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-if="address.status == 'Active' || address.status == 'active'">
                                                                    <td></td>
                                                                    <td>Address Line 1</td>
                                                                    <td>
                                                                        <input id="AddressLine1" name="AddressLine1"
                                                                            type="text"
                                                                            data-ng-model="address.address_line1"
                                                                            data-ng-class="{empty: address.address_line1.length === 0 || address.address_line1.length === undefined}"
                                                                            placeholder="AddressLine1"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-if="address.status == 'Active' || address.status == 'active'">
                                                                    <td></td>
                                                                    <td>Address Line 2</td>
                                                                    <td>
                                                                        <input id="AddressLine2" name="AddressLine2"
                                                                            type="text"
                                                                            data-ng-model="address.address_line2"
                                                                            data-ng-class="{empty: address.address_line2.length === 0 || address.address_line2.length === undefined}"
                                                                            placeholder="AddressLine2"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-if="address.status == 'Active' || address.status == 'active'">
                                                                    <td></td>
                                                                    <td>City:</td>
                                                                    <td>
                                                                        <input id="City" name="City" type="text"
                                                                            data-ng-model="address.city"
                                                                            data-ng-class="{empty: address.city.length === 0 || address.city.length === undefined}"
                                                                            placeholder="City"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-if="address.status == 'Active' || address.status == 'active'">
                                                                    <td></td>
                                                                    <td>Zip Code:</td>
                                                                    <td>
                                                                        <input id="ZipCode" name="ZipCode" type="text"
                                                                            data-ng-model="address.zipcode"
                                                                            data-ng-class="{empty: address.zipcode.length === 0 || address.zipcode.length === undefined}"
                                                                            placeholder="Zip Code"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-repeat-end ng-if="address.status == 'Active' || address.status == 'active'">
                                                                    <td></td>
                                                                    <td>State (two letters)</td>
                                                                    <td>
                                                                        <input id="State" name="State" type="text"
                                                                            data-ng-model="address.state"
                                                                            data-ng-class="{empty: address.state.length === 0 || address.state.length === undefined}"
                                                                            placeholder="State (two letters)"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <!--Start Add Addresss-->
                                                                <tr ng-show-start="clientCtrl.isAddAddress">
                                                                    <td><i class="fa fa-map-pin social_icon"
                                                                            aria-hidden="false"></i>
                                                                    </td>
                                                                    <td><input id="addressLabel" name="addresslabel"
                                                                            type="text"
                                                                            data-ng-model="clientCtrl.address.label"
                                                                            data-ng-class="{empty: clientCtrl.address.label.length === 0 || clientCtrl.address.label.length === undefined}"
                                                                            placeholder="Label"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>

                                                                    <td><i class="fa fa-minus-square social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td><i class="fa fa-plus-square social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Address Line 1</td>
                                                                    <td>
                                                                        <input id="AddressLine1" name="AddressLine1"
                                                                            type="text"
                                                                            data-ng-model="clientCtrl.address.address_line1"
                                                                            data-ng-class="{empty: clientCtrl.address.address_line1.length === 0 || clientCtrl.address.address_line1.length === undefined}"
                                                                            placeholder="AddressLine1"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Address Line 2</td>
                                                                    <td>
                                                                        <input id="AddressLine2" name="AddressLine2"
                                                                            type="text"
                                                                            data-ng-model="clientCtrl.address.address_line2"
                                                                            data-ng-class="{empty: clientCtrl.address.address_line2.length === 0 || clientCtrl.address.address_line2.length === undefined}"
                                                                            placeholder="AddressLine2"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>City:</td>
                                                                    <td>
                                                                        <input id="City" name="City" type="text"
                                                                            data-ng-model="clientCtrl.address.city"
                                                                            data-ng-class="{empty: clientCtrl.address.city.length === 0 || clientCtrl.address.city.length === undefined}"
                                                                            placeholder="City"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Zip Code:</td>
                                                                    <td>
                                                                        <input id="ZipCode" name="ZipCode" type="text"
                                                                            data-ng-model="address.zipcode"
                                                                            data-ng-class="{empty: clientCtrl.address.zipcode.length === 0 || clientCtrl.address.zipcode.length === undefined}"
                                                                            placeholder="Zip Code"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-show-end>
                                                                    <td></td>
                                                                    <td>State (two letters)</td>
                                                                    <td>
                                                                        <input id="State" name="State" type="text"
                                                                            data-ng-model="address.state"
                                                                            data-ng-class="{empty: clientCtrl.address.state.length === 0 || clientCtrl.address.state.length === undefined}"
                                                                            placeholder="State (two letters)"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td><i class="fa fa-check-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(2,1)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td><i class="fa fa-minus-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(2,2)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>
                                                                <!--End Add Address-->
                                                                <tr>
                                                                    <td><i class="fa fa-phone social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td>Phone:</td>
                                                                    <td>

                                                                    </td>
                                                                    <td></td>
                                                                    <td><i class="fa fa-plus-square social_icon"
                                                                            ng-click="clientCtrl.addElement(3,0)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>
                                                                <tr ng-repeat="phone in clientCtrl.client.phones" ng-if="phone.status == 'Active' || phone.status == 'active'">
                                                                    <td></td>
                                                                    <td>{{phone.label}}:</td>
                                                                    <td>
                                                                        <input id="phone" name="phone" type="text"
                                                                            data-ng-model="phone.number"
                                                                            data-ng-class="{empty: phone.number.length === 0 || phone.number.length === undefined}"
                                                                            placeholder="Phone (Work)"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td><i class="fa fa-minus-square social_icon"
                                                                            ng-click="clientCtrl.removeElement(3,phone)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-show="clientCtrl.isAddPhone">
                                                                    <td></td>
                                                                    <td><input id="phoneLabel" name="phoneLabel"
                                                                            type="text"
                                                                            data-ng-model="clientCtrl.phone.label"
                                                                            data-ng-class="{empty: clientCtrl.phone.label.length === 0 || clientCtrl.phone.label.length === undefined}"
                                                                            placeholder="Label"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td>
                                                                        <input id="Phone" name="Phone" type="text"
                                                                            data-ng-model="clientCtrl.phone.number"
                                                                            data-ng-class="{empty: clientCtrl.phone.number.length === 0 || clientCtrl.phone.number.length === undefined}"
                                                                            placeholder="Phone"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td><i class="fa fa-check-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(3,1)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td><i class="fa fa-minus-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(3,2)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-link social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td>Website:</td>
                                                                    <td>

                                                                    </td>
                                                                    <td></td>

                                                                    <td><i class="fa fa-plus-square social_icon"
                                                                            ng-click="clientCtrl.addElement(4,0)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>

                                                                <tr ng-repeat="weburl in clientCtrl.client.webUrls" ng-if="weburl.status == 'Active' || weburl.status == 'active'">
                                                                    <td></td>
                                                                    <td>{{weburl.label}}:</td>
                                                                    <td>

                                                                        <input id="Website" name="Website" type="text"
                                                                            data-ng-model="weburl.url"
                                                                            data-ng-class="{empty: weburl.url.length === 0 || weburl.url.length === undefined}"
                                                                            placeholder="Website"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td><i class="fa fa-minus-square social_icon"
                                                                            ng-click="clientCtrl.removeElement(4,weburl)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-show="clientCtrl.isAddWebUrl">
                                                                    <td></td>
                                                                    <td><input id="webUrlLabel" name="webUrlLabel"
                                                                            type="text"
                                                                            data-ng-model="clientCtrl.webUrl.label"
                                                                            data-ng-class="{empty: clientCtrl.webUrl.label.length === 0 || clientCtrl.webUrl.label.length === undefined}"
                                                                            placeholder="Label"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td>
                                                                        <input id="WebUrl" name="WebUrl" type="text"
                                                                            data-ng-model="clientCtrl.webUrl.url"
                                                                            data-ng-class="{empty: clientCtrl.webUrl.url.length === 0 || clientCtrl.webUrl.url.length === undefined}"
                                                                            placeholder="url"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td><i class="fa fa-check-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(4,1)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td><i class="fa fa-minus-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(4,2)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>


                                                                <tr>
                                                                    <td><i class="fa fa-link social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td>Additional Info:</td>
                                                                    <td>

                                                                    </td>
                                                                    <td></td>

                                                                    <td><i class="fa fa-plus-square social_icon"
                                                                            ng-click="clientCtrl.addElement(5,0)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>

                                                                <tr ng-repeat="customField in clientCtrl.client.customFields" ng-if="customField.status == 'Active' || customField.status == 'active'">
                                                                    <td></td>
                                                                    <td>{{customField.label}}:</td>
                                                                    <td>

                                                                        <input id="customField" name="customField" type="text"
                                                                            data-ng-model="customField.value"
                                                                            data-ng-class="{empty: customField.value.length === 0 || customField.value.length === undefined}"
                                                                            placeholder="Value"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td><i class="fa fa-minus-square social_icon"
                                                                            ng-click="clientCtrl.removeElement(5,customField)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-show="clientCtrl.isAddCustomField">
                                                                    <td></td>
                                                                    <td><input id="customFieldLabel" name="customFieldLabel"
                                                                            type="text"
                                                                            data-ng-model="clientCtrl.customField.label"
                                                                            data-ng-class="{empty: clientCtrl.customField.label.length === 0 || clientCtrl.customField.label.length === undefined}"
                                                                            placeholder="Label"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td>
                                                                        <input id="customField" name="customField" type="text"
                                                                            data-ng-model="clientCtrl.customField.value"
                                                                            data-ng-class="{empty: clientCtrl.customField.value.length === 0 || clientCtrl.customField.value.length === undefined}"
                                                                            placeholder="value"
                                                                            class="form-control input-md" required="">
                                                                    </td>
                                                                    <td><i class="fa fa-check-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(5,1)"
                                                                            aria-hidden="false"></i></td>
                                                                    <td><i class="fa fa-minus-circle social_icon"
                                                                            ng-click="clientCtrl.addElement(5,2)"
                                                                            aria-hidden="false"></i></td>
                                                                </tr>                   
                                                            </tbody>
                                                        </table>
                                                        <!--  <a href="#/{{ (clientCtrl.client.userType == 2 ) ? 'providers' : 'users' }}/{{ (clientCtrl.id == undefined ) ? 'new' : clientCtrl.id + '/profile' }}"
                                                            class="btn btn-primary">Save Client</a> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="panel-footer">
                                                <a data-original-title="Broadcast Message" href="mailto:{{clientCtrl.client.username}}"
                                                    data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                                    <i class="glyphicon glyphicon-download"></i>
                                                </a>
                                                <span class="pull-right">
                                                    <a href="#/users/{{clientCtrl.patient._id}}/edit" data-original-title="Edit this user"
                                                        data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </a>
                                                    <a data-original-title="Remove this user" data-toggle="tooltip"
                                                        ng-click="clientCtrl.deleteUser(user.id)" type="button" class="btn btn-sm btn-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </a>
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div ng-class="clientCtrl.getTabPaneClass(2)" id="social" role="tabpanel">
                                    <div
                                        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Hi {{clientCtrl.client.names.prefix}}
                                                    {{clientCtrl.client.names.first_name}}!</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <!-- <div class="col-md-3 col-lg-3" >
                                                                            <img alt="User Pic"
                                                                                src="img/{{(clientCtrl.id != undefined )? ( (clientCtrl.client.userType == 2 ) ? 'random-avatar'+clientCtrl.id : 'prandom-avatar'+clientCtrl.id) : 'avatar' }}.jpg"
                                                                                class="img-circle img-responsive">
                                                                        </div> -->
                                                    <!-- Nav tabs -->
                                                    <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 ">
                                                        <table class="table table-user-information">
                                                            <tr>
                                                                <td style="width:2px"><i
                                                                        class="fa fa-address-card social_icon"
                                                                        aria-hidden="false"></i></td>
                                                                <td>
                                                                    <h4>Social</h4>
                                                                </td>
                                                            </tr>

                                                            <tr ng-repeat="social in clientCtrl.client.socials">
                                                                <td><i class="fa fa-{{social.label |lowercase}} social_icon"
                                                                        aria-hidden="false"></i>
                                                                </td>
                                                                <td>{{social.label}}:</td>
                                                                <td>{{social.url}}</td>
                                                            </tr>
                                                            <!--
                                                                    <tr>
                                                                        <td><i class="fa fa-instagram social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-youtube-play social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-twitter social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-spotify social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-     social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-pinterest social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-snapchat social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-whatsapp social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-vimeo social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-itunes social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-google-play social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{clientCtrl.client.url2}}</td>
                                                                    </tr>-->
                                                        </table>
                                                        </tbody>
                                                        </table>
                                                        <!-- <a href="#/{{ (clientCtrl.client.userType == 2 ) ? 'providers' : 'users' }}/{{ (clientCtrl.id == undefined ) ? 'new' : clientCtrl.id + '/profile' }}"
                                                            class="btn btn-primary">Save Client</a> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="panel-footer">
                                                <a data-original-title="Broadcast Message" href="mailto:{{clientCtrl.client.username}}"
                                                    data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                                    <i class="glyphicon glyphicon-envelope"></i>
                                                </a>
                                                <span class="pull-right">
                                                    <a href="#/users/{{clientCtrl.patient._id}}/edit" data-original-title="Edit this user"
                                                        data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </a>
                                                    <a data-original-title="Remove this user" data-toggle="tooltip"
                                                        ng-click="clientCtrl.deleteUser(user.id)" type="button" class="btn btn-sm btn-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </a>
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 ">
                            <label class="col-md-6 control-label"></label>
                            <div class="col-lg-6" data-ng-if="formProviders.$invalid && formProviders.data.$dirty">
                                <p>You shall not pass =/</p>
                                <p>You only can finish the operation if all fields required was populated correctly</p>
                            </div>
                            <input type="submit"
                                class="btn btn-primary btn-outline col-lg-3 col-md-3 col-sm-3  clearfix"
                                value="UPDATE" />
                            <!--data-ng-disabled="formProviders.$invalid && !formProviders.data.$dirty"-->
                            <a class="btn btn-danger btn-outline col-lg-3 col-md-3 col-sm-3 "
                                href="#/clients">CANCEL</a>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>