<section class="content profile-page">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .user-row {
            margin-bottom: 14px;
        }

        .user-row:last-child {
            margin-bottom: 0;
        }

        .dropdown-user {
            margin: 13px 0;
            padding: 5px;
            height: 100%;
        }

        .dropdown-user:hover {
            cursor: pointer;
        }

        .table-user-information>tbody>tr {
            border-top: 1px solid rgb(221, 221, 221);
        }

        .table-user-information>tbody>tr:first-child {
            border-top: 0;
        }


        .table-user-information>tbody>tr>td {
            border-top: 0;
        }

        .toppad {
            margin-top: 20px;
        }

        .addressspan {
            display: block;
            width: 150px;
            word-wrap: break-word;
        }
    </style>
    <div ng-init=contactCtrl.edit() class="container">
        <div class="row">
            <!--<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <A href="#/users/{{contactCtrl.patient._id}}/edit">Edit Profile</A>
        </div> -->
            <div
                class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <ul class="nav nav-tabs  tabs" role="tablist">
                    <li ng-class="contactCtrl.getTabClass(1)" ng-click="contactCtrl.setActiveTab(1)" style="width:50%;">
                        <a class="nav-link active" data-toggle="tab" href="#/contacts/{{contactCtrl.contact.id}}/profile" role="tab">PROFILE</a>
                    </li>
                    <li ng-class="contactCtrl.getTabClass(2)" ng-click="contactCtrl.setActiveTab(2)" style="width:50%;">
                        <a class="nav-link" style="text-align:end;" data-toggle="tab" href="#/contacts/{{contactCtrl.contact.id}}/profile"
                            role="tab">SOCIAL</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content tabs card-block">
                <div ng-class="contactCtrl.getTabPaneClass(1)" id="profile" role="tabpanel">
                    <div
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Hi {{contactCtrl.contact.Given_Name}}!</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <!-- <div class="col-md-3 col-lg-3" >
                                    <img alt="User Pic"
                                        src="img/{{(contactCtrl.id != undefined )? ( (contactCtrl.contact.userType == 2 ) ? 'random-avatar'+contactCtrl.id : 'prandom-avatar'+contactCtrl.id) : 'avatar' }}.jpg"
                                        class="img-circle img-responsive">
                                </div> -->
                                    <!-- Nav tabs -->
                                    <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 ">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td style="width:2px"><i class="fa fa-address-card social_icon" aria-hidden="false"></i></td>
                                                    <td>
                                                        <h4>Profile</h4>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td ><i class="fa fa-user-circle social_icon" aria-hidden="false"></i></td>
                                                    <td>Fist Name:</td>
                                                    <td>{{contactCtrl.contact.Given_Name}}</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Last Name:</td>
                                                    <td>{{contactCtrl.contact.Family_Name}}</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Type:</td>
                                                    <td>{{ (contactCtrl.contact.userType == 2 ) ? 'Provider' : 'Patient' }}</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Registration Date:</td>
                                                    <td>{{contactCtrl.contact.Created_At | date:'yyyy-MM-dd HH:mm:ss Z'}}
                                                    </td>
                                                </tr>   
                                                <tr>
                                                    <td></td>
                                                    <td>Email:</td>
                                                    <td>
                                                        <a href="mailto:{{contactCtrl.contact.Email_1_Value}}">{{contactCtrl.contact.Email_1_Value}}</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-building social_icon" aria-hidden="false"></i></td>
                                                    <td>Company:</td>
                                                    <td>
                                                        {{contactCtrl.contact.Organization_1_Name}}
                                                    </td>                  
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Title:</td>
                                                    <td>
                                                        {{contactCtrl.contact.Organization_1_Title}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-map-pin social_icon" aria-hidden="false"></i></td>
                                                    <td>Address Line 1</td>
                                                    <td>
                                                        {{contactCtrl.contact.Address_1_Street}}
                                                    </td>
                                                </tr>
                                                </tr>
                                                    <td></td>
                                                    <td>Address Line 2</td>
                                                    <td>
                                                        {{contactCtrl.contact.Address_1_City}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>City:</td>
                                                    <td>
                                                        {{contactCtrl.contact.Address_1_City}}
                                                    </td>
                                                </tr>
                                                    <td></td>
                                                    <td>Zip Code:</td>
                                                    <td>
                                                        {{contactCtrl.contact.Address_1_Postal_Code}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>State (two letters)</td>
                                                    <td>
                                                        {{contactCtrl.contact.Address_1_Region}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-phone social_icon" aria-hidden="false"></i></td>
                                                    <td>Phone (Work):</td>
                                                    <td>
                                                        {{contactCtrl.contact.Phone_3_Value}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Phone (Mobile):</td>
                                                    <td>
                                                        {{contactCtrl.contact.Phone_2_Value}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Fax</td>
                                                    <td>
                                                        {{contactCtrl.contact.Phone_1_Value}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-link social_icon" aria-hidden="false"></i></td>
                                                    <td>Website:</td>
                                                    <td>
                                                        {{contactCtrl.contact.Website_1_Type}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Extra Weblink 1</td>
                                                    <td>
                                                        {{contactCtrl.contact.url1}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Extra Weblink 2</td>
                                                    <td>
                                                        {{contactCtrl.contact.url2}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Calender Link:</td>
                                                    <td>
                                                        {{contactCtrl.contact.calenderLink}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Real Estate Licence</td>
                                                    <td>
                                                        {{contactCtrl.contact.realEstateLic}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Certificates:</td>
                                                    <td>
                                                        {{contactCtrl.contact.certificates}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <a href="#/{{ (contactCtrl.contact.userType == 2 ) ? 'providers' : 'users' }}/{{ (contactCtrl.id == undefined ) ? 'new' : contactCtrl.id + '/profile' }}"
                                            class="btn btn-primary">Save Contact</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a data-original-title="Broadcast Message" href="mailto:{{contactCtrl.contact.username}}"
                                    data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                    <i class="glyphicon glyphicon-download"></i>
                                </a>
                                <span class="pull-right">
                                    <a href="#/users/{{contactCtrl.patient._id}}/edit" data-original-title="Edit this user"
                                        data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                    <a data-original-title="Remove this user" data-toggle="tooltip"
                                        ng-click="contactCtrl.deleteUser(user.id)" type="button" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-class="contactCtrl.getTabPaneClass(2)" id="social" role="tabpanel">
                    <div
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Hi {{contactCtrl.contact.Given_Name}}!</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <!-- <div class="col-md-3 col-lg-3" >
                                                    <img alt="User Pic"
                                                        src="img/{{(contactCtrl.id != undefined )? ( (contactCtrl.contact.userType == 2 ) ? 'random-avatar'+contactCtrl.id : 'prandom-avatar'+contactCtrl.id) : 'avatar' }}.jpg"
                                                        class="img-circle img-responsive">
                                                </div> -->
                                    <!-- Nav tabs -->
                                    <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 ">
                                        <table class="table table-user-information">
                                            <tr>
                                                <td style="width:2px"><i class="fa fa-address-card social_icon" aria-hidden="false"></i></td>
                                                <td>
                                                    <h4>Social</h4>
                                                </td>
                                            </tr>

                                            <tr ng-repeat="(key, val) in contactCtrl.social">
                                                <td><i class="fa fa-{{key}} social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{key | uppercase}}:</td>
                                                <td>{{val}}</td>
                                            </tr>
                                           <!--
                                            <tr>
                                                <td><i class="fa fa-instagram social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-youtube-play social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-twitter social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-spotify social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-     social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-pinterest social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-snapchat social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-whatsapp social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-vimeo social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-itunes social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-google-play social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{contactCtrl.contact.url2}}</td>
                                            </tr>-->
                                        </table>
                                        </tbody>
                                        </table>
                                       <!-- <a href="#/{{ (contactCtrl.contact.userType == 2 ) ? 'providers' : 'users' }}/{{ (contactCtrl.id == undefined ) ? 'new' : contactCtrl.id + '/profile' }}"
                                            class="btn btn-primary">Save Contact</a>-->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a data-original-title="Broadcast Message" href="mailto:{{contactCtrl.contact.username}}"
                                    data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                    <i class="glyphicon glyphicon-download"></i>
                                </a>
                                <span class="pull-right">
                                    <a href="#/users/{{contactCtrl.patient._id}}/edit" data-original-title="Edit this user"
                                        data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                    <a data-original-title="Remove this user" data-toggle="tooltip"
                                        ng-click="contactCtrl.deleteUser(user.id)" type="button" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>   
</section>