<div class="panel panel-default">
    <div class="panel-heading">Contact Edit</div>
    <div class="panel-body">
        <div ng-init=contactCtrl.edit() class="row">
            <div class="col-xs-9">
                <form class="form-horizontal" autocomplete="off" role="form" novalidate name="formProviders" data-ng-submit="contactCtrl.save(contactCtrl.contact)">
                    <fieldset>
                       <!-- <legend>Add a new Provider</legend>
                        <input type="hidden" data-ng-model="contactCtrl.contact._id" />

                        

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="providerName">Provider Name:</label>
                            <div class="col-md-3">
                                <input id="providerName" name="providerName" type="text" data-ng-model="contactCtrl.contact.providerName" data-ng-class="{empty: contactCtrl.contact.providerName.length === 0 || contactCtrl.contact.providerName.length === undefined}"
                                    placeholder="Provider Name" class="form-control input-md" required="">
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="phoneNumber">Phone Number:</label>
                            <div class="col-md-3">
                                <input id="phoneNumber" name="phoneNumber" data-ng-model="contactCtrl.contact.phoneNumber" data-ng-class="{empty: contactCtrl.contact.phoneNumber.length === 0 || contactCtrl.contact.phoneNumber.length === undefined}"
                                    type="text" placeholder="Phone Number" class="form-control input-md" required="">
                            </div>
                        </div>
                       

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="pAddress">Public Address:</label>
                            <div class="col-md-3">
                                <input id="pAddress" name="pAddress" type="text" data-ng-model="contactCtrl.contact.pAddress" data-ng-class="{empty: contactCtrl.contact.pAddress.length === 0 || contactCtrl.contact.pAddress.length === undefined}"
                                    placeholder="Public Address" class="form-control input-md" required="">
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="location">Location:</label>
                            <div class="col-md-4">
                                <textarea class="form-control" id="location" data-ng-model="contactCtrl.contact.location" data-ng-class="{empty: contactCtrl.contact.location.length === 0 || contactCtrl.contact.location.length === undefined}"
                                    placeholder="Location" name="location">Location</textarea>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="certificateNo">Certificate No.:</label>
                            <div class="col-md-3">
                                <input id="certificateNo" name="certificateNo" type="text" data-ng-model="contactCtrl.contact.certificateNo" data-ng-class="{empty: contactCtrl.contact.certificateNo.length === 0 || contactCtrl.contact.certificateNo.length === undefined}"
                                    placeholder="Certificate No." class="form-control input-md" required="">

                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Email:</label>
                            <div class="col-md-3">
                                <input id="email" name="email" type="text" data-ng-model="contactCtrl.contact.email" data-ng-class="{empty: contactCtrl.contact.email.length === 0 || contactCtrl.contact.email.length === undefined}"
                                    placeholder="Email" class="form-control input-md" required="">

                            </div>
                        </div>

                      
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="yearOfEstablishment">Year of Est.</label>
                            <div class="col-md-2">
                                <input id="yearOfEstablishment" name="yearOfEstablishment" type="text" data-ng-model="contactCtrl.contact.yearOfEstablishment"
                                    data-ng-class="{empty: contactCtrl.contact.yearOfEstablishment.length === 0 || contactCtrl.contact.yearOfEstablishment.length === undefined}"
                                    placeholder="Year Of Establishment" class="form-control input-md" required="">

                            </div>
                        </div>-->
                        <div class="row">
                            <!--<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                                    <A href="#/users/{{contactCtrl.patient._id}}/edit">Edit Profile</A>
                                </div> -->
                            <div
                                class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                                <ul class="nav nav-tabs  tabs" role="tablist">
                                    <li ng-class="contactCtrl.getTabClass(1)" ng-click="contactCtrl.setActiveTab(1)" style="width:50%;">
                                        <a class="nav-link active" data-toggle="tab" href="#/contacts/{{contactCtrl.contact.id}}/edit"
                                            role="tab">PROFILE</a>
                                    </li>
                                    <li ng-class="contactCtrl.getTabClass(2)" ng-click="contactCtrl.setActiveTab(2)" style="width:50%;">
                                        <a class="nav-link" style="text-align:end;" data-toggle="tab"
                                            href="#/contacts/{{contactCtrl.contact.id}}/edit" role="tab">SOCIAL</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content tabs card-block">
                                <div ng-class="contactCtrl.getTabPaneClass(1)" id="profile" role="tabpanel">
                                    <div
                                        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Hi {{contactCtrl.contact.Given_Name}}!</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <!-- <div class="col-md-3 col-lg-3" >
                                                            <img alt="User Pic"
                                                                src="img/{{(contactCtrl.id != undefined )? ( (contactCtrl.contact.userType == 2 ) ? 'random-avatar'+contactCtrl.id : 'prandom-avatar'+contactCtrl.id) : 'avatar' }}.jpg"
                                                                class="img-circle img-responsive">
                                                        </div> -->
                                                    <!-- Nav tabs -->
                                                    <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 ">
                                                        <table class="table table-user-information">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width:2px"><i class="fa fa-address-card social_icon"
                                                                            aria-hidden="false"></i></td>
                                                                    <td>
                                                                        <h4>Profile</h4>
                                                                    </td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-user-circle social_icon" aria-hidden="false"></i></td>
                                                                    <td>Fist Name:</td>
                                                                    <td>
                                                                        <input id="FirstName" name="FirstName" type="text" data-ng-model="contactCtrl.contact.Given_Name"
                                                                            data-ng-class="{empty: contactCtrl.contact.Given_Name.length === 0 || contactCtrl.contact.Given_Name.length === undefined}"
                                                                            placeholder="First Name" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Last Name:</td>
                                                                    <td>
                                                                        <input id="LastName" name="LastName" type="text" data-ng-model="contactCtrl.contact.Family_Name"
                                                                            data-ng-class="{empty: contactCtrl.contact.Family_Name.length === 0 || contactCtrl.contact.Family_Name.length === undefined}"
                                                                            placeholder="Last Name" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Type:</td>
                                                                    <td>{{ (contactCtrl.contact.userType == 2 ) ? 'Provider' : 'Patient' }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Registration Date:</td>
                                                                    <td>{{contactCtrl.contact.Created_At | date:'yyyy-MM-dd HH:mm:ss Z'}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Email:</td>
                                                                    <td>
                                                                        <input id="Email" name="Email" type="text" data-ng-model="contactCtrl.contact.Email_1_Value"
                                                                            data-ng-class="{empty: contactCtrl.contact.Email_1_Value.length === 0 || contactCtrl.contact.Email_1_Value.length === undefined}"
                                                                            placeholder="Email" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-building social_icon" aria-hidden="false"></i></td>
                                                                    <td>Company:</td>
                                                                    <td>
                                                                        <input id="Company" name="Company" type="text" data-ng-model="contactCtrl.contact.Organization_1_Name"
                                                                            data-ng-class="{empty: contactCtrl.contact.Organization_1_Name.length === 0 || contactCtrl.contact.Organization_1_Name.length === undefined}"
                                                                            placeholder="Company" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Title:</td>
                                                                    <td>
                                                                        <input id="Title" name="Title" type="text" data-ng-model="contactCtrl.contact.Organization_1_Title"
                                                                            data-ng-class="{empty: contactCtrl.contact.Organization_1_Title.length === 0 || contactCtrl.contact.Organization_1_Title.length === undefined}"
                                                                            placeholder="Title" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-map-pin social_icon" aria-hidden="false"></i></td>
                                                                    <td>Address Line 1</td>
                                                                    <td>
                                                                        <input id="AddressLine1" name="AddressLine1" type="text" data-ng-model="contactCtrl.contact.Address_1_Street"
                                                                            data-ng-class="{empty: contactCtrl.contact.Address_1_Street.length === 0 || contactCtrl.contact.Address_1_Street.length === undefined}"
                                                                            placeholder="AddressLine1" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                </tr>
                                                                <td></td>
                                                                <td>Address Line 2</td>
                                                                <td>
                                                                    {{contactCtrl.contact.Address_1_City}}
                                                                </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>City:</td>
                                                                    <td>
                                                                        <input id="City" name="City" type="text" data-ng-model="contactCtrl.contact.Address_1_City"
                                                                            data-ng-class="{empty: contactCtrl.contact.Address_1_City.length === 0 || contactCtrl.contact.Address_1_City.length === undefined}"
                                                                            placeholder="City" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <td></td>
                                                                <td>Zip Code:</td>
                                                                <td>
                                                                    <input id="ZipCode" name="ZipCode" type="text" data-ng-model="contactCtrl.contact.Address_1_Postal_Code"
                                                                            data-ng-class="{empty: contactCtrl.contact.Address_1_Postal_Code.length === 0 || contactCtrl.contact.Address_1_Postal_Code.length === undefined}"
                                                                            placeholder="Zip Code" class="form-control input-md" required="">
                                                                </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>State (two letters)</td>
                                                                    <td>
                                                                        <input id="State" name="State" type="text" data-ng-model="contactCtrl.contact.Address_1_Region"
                                                                            data-ng-class="{empty: contactCtrl.contact.Address_1_Region.length === 0 || contactCtrl.contact.Address_1_Region.length === undefined}"
                                                                            placeholder="State (two letters)" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-phone social_icon" aria-hidden="false"></i></td>
                                                                    <td>Phone (Work):</td>
                                                                    <td>
                                                                        <input id="PhoneWork" name="PhoneWork" type="text" data-ng-model="contactCtrl.contact.Phone_2_Value"
                                                                            data-ng-class="{empty: contactCtrl.contact.Phone_2_Value.length === 0 || contactCtrl.contact.Phone_2_Value.length === undefined}"
                                                                            placeholder="Phone (Work)" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Phone (Mobile):</td>
                                                                    <td>
                                                                        <input id="PhoneMobile" name="PhoneMobile" type="text" data-ng-model="contactCtrl.contact.Phone_3_Value"
                                                                            data-ng-class="{empty: contactCtrl.contact.Phone_3_Value.length === 0 || contactCtrl.contact.Phone_3_Value.length === undefined}"
                                                                            placeholder="Phone (Mobile)" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Fax:</td>
                                                                    <td>
                                                                        <input id="Fax" name="Fax" type="text" data-ng-model="contactCtrl.contact.Phone_1_Value"
                                                                            data-ng-class="{empty: contactCtrl.contact.Phone_1_Value.length === 0 || contactCtrl.contact.Phone_1_Value.length === undefined}"
                                                                            placeholder="Fax" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fa fa-link social_icon" aria-hidden="false"></i></td>
                                                                    <td>Website:</td>
                                                                    <td>
                                                                        {{contactCtrl.contact.Website_1_Type}}
                                                                        <input id="Website" name="Website" type="text" data-ng-model="contactCtrl.contact.Website_1_Type"
                                                                            data-ng-class="{empty: contactCtrl.contact.Website_1_Type.length === 0 || contactCtrl.contact.Website_1_Type.length === undefined}"
                                                                            placeholder="Website" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Extra Weblink 1</td>
                                                                    <td>
                                                                        <input id="ExtraWeblink1" name="ExtraWeblink1" type="text" data-ng-model="contactCtrl.contact.url1"
                                                                            data-ng-class="{empty: contactCtrl.contact.url1.length === 0 || contactCtrl.contact.url1.length === undefined}"
                                                                            placeholder="Extra Web Link 1" class="form-control input-md" required="">                                                                        
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Extra Weblink 2</td>
                                                                    <td>
                                                                        <input id="ExtraWeblink2" name="ExtraWeblink2" type="text" data-ng-model="contactCtrl.contact.url2"
                                                                            data-ng-class="{empty: contactCtrl.contact.url2.length === 0 || contactCtrl.contact.url2.length === undefined}"
                                                                            placeholder="Extra Web link2" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>CalenderLink:</td>
                                                                    <td>
                                                                        <input id="CalenderLink" name="CalenderLink" type="text" data-ng-model="contactCtrl.contact.calenderLink"
                                                                            data-ng-class="{empty: contactCtrl.contact.calenderLink.length === 0 || contactCtrl.contact.calenderLink.length === undefined}"
                                                                            placeholder="CalenderLink" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Real Estate Licence</td>
                                                                    <td>
                                                                        {{contactCtrl.contact.realEstateLic}}
                                                                        <input id="realEstateLicence" name="realEstateLicence" type="text"
                                                                            data-ng-model="contactCtrl.contact.realEstateLic"
                                                                            data-ng-class="{empty: contactCtrl.contact.realEstateLic.length === 0 || contactCtrl.contact.realEstateLic.length === undefined}"
                                                                            placeholder="Real Estate Licence" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Certificates:</td>
                                                                    <td>
                                                                        <input id="certificates" name="Certificates" type="text" data-ng-model="contactCtrl.contact.certificates"
                                                                            data-ng-class="{empty: contactCtrl.contact.certificates.length === 0 || contactCtrl.contact.certificates.length === undefined}"
                                                                            placeholder="Certificates" class="form-control input-md" required="">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                      <!--  <a href="#/{{ (contactCtrl.contact.userType == 2 ) ? 'providers' : 'users' }}/{{ (contactCtrl.id == undefined ) ? 'new' : contactCtrl.id + '/profile' }}"
                                                            class="btn btn-primary">Save Contact</a> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="panel-footer">
                                                <a data-original-title="Broadcast Message" href="mailto:{{contactCtrl.contact.username}}"
                                                    data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                                    <i class="glyphicon glyphicon-download"></i>
                                                </a>
                                                <span class="pull-right">
                                                    <a href="#/users/{{contactCtrl.patient._id}}/edit" data-original-title="Edit this user"
                                                        data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </a>
                                                    <a data-original-title="Remove this user" data-toggle="tooltip"
                                                        ng-click="contactCtrl.deleteUser(user.id)" type="button" class="btn btn-sm btn-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </a>
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div ng-class="contactCtrl.getTabPaneClass(2)" id="social" role="tabpanel">
                                    <div
                                        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Hi {{contactCtrl.contact.Given_Name}}!</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <!-- <div class="col-md-3 col-lg-3" >
                                                                            <img alt="User Pic"
                                                                                src="img/{{(contactCtrl.id != undefined )? ( (contactCtrl.contact.userType == 2 ) ? 'random-avatar'+contactCtrl.id : 'prandom-avatar'+contactCtrl.id) : 'avatar' }}.jpg"
                                                                                class="img-circle img-responsive">
                                                                        </div> -->
                                                    <!-- Nav tabs -->
                                                    <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 ">
                                                        <table class="table table-user-information">
                                                            <tr>
                                                                <td style="width:2px"><i class="fa fa-address-card social_icon"
                                                                        aria-hidden="false"></i></td>
                                                                <td>
                                                                    <h4>Social</h4>
                                                                </td>

                                                            </tr>
                        
                                                            <tr ng-repeat="(key, val) in contactCtrl.social">
                                                                <td><i class="fa fa-{{key}} social_icon" aria-hidden="false"></i>
                                                                </td>
                                                                <td>{{key | uppercase}}:</td>
                                                                <td>{{val}}</td>
                                                            </tr>
                                                            <!--
                                                                    <tr>
                                                                        <td><i class="fa fa-instagram social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-youtube-play social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-twitter social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-spotify social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-     social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-pinterest social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-snapchat social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-whatsapp social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-vimeo social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-itunes social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i class="fa fa-google-play social_icon" aria-hidden="false"></i>
                                                                        </td>
                                                                        <td>{{contactCtrl.contact.url2}}</td>
                                                                    </tr>-->
                                                        </table>
                                                        </tbody>
                                                        </table>
                                                       <!-- <a href="#/{{ (contactCtrl.contact.userType == 2 ) ? 'providers' : 'users' }}/{{ (contactCtrl.id == undefined ) ? 'new' : contactCtrl.id + '/profile' }}"
                                                            class="btn btn-primary">Save Contact</a> -->
                                                    </div>
                                                </div>
                                            </div>
                                           <!-- <div class="panel-footer">
                                                <a data-original-title="Broadcast Message" href="mailto:{{contactCtrl.contact.username}}"
                                                    data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                                    <i class="glyphicon glyphicon-envelope"></i>
                                                </a>
                                                <span class="pull-right">
                                                    <a href="#/users/{{contactCtrl.patient._id}}/edit" data-original-title="Edit this user"
                                                        data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </a>
                                                    <a data-original-title="Remove this user" data-toggle="tooltip"
                                                        ng-click="contactCtrl.deleteUser(user.id)" type="button" class="btn btn-sm btn-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </a>
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 ">
                            <label class="col-md-6 control-label"></label>
                            <div class="col-lg-6" data-ng-if="formProviders.$invalid && formProviders.data.$dirty">
                                <p>You shall not pass =/</p>
                                <p>You only can finish the operation if all fields required was populated correctly</p>
                            </div>
                            <input type="submit" class="btn btn-primary btn-outline col-lg-3 col-md-3 col-sm-3  clearfix" value="UPDATE" 
                            /> <!--data-ng-disabled="formProviders.$invalid && !formProviders.data.$dirty"-->
                            <a class="btn btn-danger btn-outline col-lg-3 col-md-3 col-sm-3 " href="#/contacts">CANCEL</a>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>

