<div class="panel panel-default">
    <div class="panel-heading">Provider Setup</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-9">
                <form class="form-horizontal" autocomplete="off" role="form" novalidate name="formProviders" data-ng-submit="providersCtrl.save(providersCtrl.provider)">
                    <fieldset>
                        <legend>Add a new Provider</legend>
                        <input type="hidden" data-ng-model="providersCtrl.provider._id" />

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="providerName">Provider Name:</label>
                            <div class="col-md-3">
                                <input id="providerName" name="providerName" type="text" data-ng-model="providersCtrl.provider.providerName" data-ng-class="{empty: providersCtrl.provider.providerName.length === 0 || providersCtrl.provider.providerName.length === undefined}" placeholder="Provider Name" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="phoneNumber">Mobile Number:</label>
                            <div class="col-md-3">
                                <input id="phoneNumber" name="phoneNumber" data-ng-model="providersCtrl.provider.phoneNumber" data-ng-class="{empty: providersCtrl.provider.phoneNumber.length === 0 || providersCtrl.provider.phoneNumber.length === undefined}" type="text" placeholder="Phone Number" class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="pAddress">Public Address:</label>  
                            <div class="col-md-3">
                            <input id="pAddress" name="pAddress" type="text" data-ng-model="providersCtrl.provider.pAddress" data-ng-class="{empty: providersCtrl.provider.pAddress.length === 0 || providersCtrl.provider.pAddress.length === undefined}" placeholder="Public Address" class="form-control input-md" required="">                           
                            </div>
                        </div>
                        
                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="location">Location:</label>
                            <div class="col-md-4">                     
                            <textarea class="form-control" id="location" data-ng-model="providersCtrl.provider.location" data-ng-class="{empty: providersCtrl.provider.location.length === 0 || providersCtrl.provider.location.length === undefined}" placeholder="Location" name="location">Location</textarea>
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="certificateNo">Certificate No.:</label>  
                            <div class="col-md-3">
                            <input id="certificateNo" name="certificateNo" type="text" data-ng-model="providersCtrl.provider.certificateNo" data-ng-class="{empty: providersCtrl.provider.certificateNo.length === 0 || providersCtrl.provider.certificateNo.length === undefined}" placeholder="Certificate No." class="form-control input-md" required="">
                            
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Email:</label>  
                            <div class="col-md-3">
                            <input id="email" name="email" type="text" data-ng-model="providersCtrl.provider.email" data-ng-class="{empty: providersCtrl.provider.email.length === 0 || providersCtrl.provider.email.length === undefined}" placeholder="Email" class="form-control input-md" required="">
                            
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="yearOfEstablishment">Year of Est.</label>  
                            <div class="col-md-2">
                            <input id="yearOfEstablishment" name="yearOfEstablishment" type="text" data-ng-model="providersCtrl.provider.yearOfEstablishment" data-ng-class="{empty: providersCtrl.provider.yearOfEstablishment.length === 0 || providersCtrl.provider.yearOfEstablishment.length === undefined}" placeholder="Year Of Establishment" class="form-control input-md" required="">
                            
                            </div>
                        </div>

                       
                        <!-- Button (Double) -->
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 ">
                            <label class="col-md-6 control-label"></label>
                            <div class="col-lg-6" data-ng-if="formProviders.$invalid && formProviders.data.$dirty">
                                <p>You shall not pass =/</p>
                                <p>You only can finish the operation if all fields required was populated correctly</p>
                            </div>
                            <input type="submit" class="btn btn-primary btn-outline col-lg-3 col-md-3 col-sm-3  clearfix" value="CREATE" data-ng-disabled="formProviders.$invalid && !formProviders.data.$dirty" />
                            <a class="btn btn-danger btn-outline col-lg-3 col-md-3 col-sm-3 " href="#/contacts">CANCEL</a>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
