<!-- Header Bar -->
<div class="row header">
    <div class="col-xs-12">
        <div class="user pull-right">
            <div class="item dropdown">
                <a href="#" class="dropdown-toggle">
                    <img src="img/avatar.jpg">

                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="link">
                        <a href="#/home">
                        {{mc.currentUser.firstName}} Profile
                    </a>
                    </li>
                    <li class="divider"></li>

                    <li class="link">
                        <a href="#/home">
                      Change Password
                    </a>
                    </li>
                    <li class="link">
                        <a href="#">
                      Settings
                    </a>
                    </li>
                    <!--<li class="divider"></li>-->
                    <li class="link">
                        <a href="#/login">
                      Logout
                    </a>
                    </li>
                </ul>
            </div>

            <!--  <div class="item dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">
                        Notifications
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Server Down!</a>
                    </li>
                </ul>
            </div>-->
        </div>
        <div class="meta">
            <div class="page">
                Current User:{{mc.currentUser.firstName}}
            </div>
            <div class="breadcrumb-links">
                <!--Home / * -->
            </div>
        </div>
    </div>
</div>
<!-- End Header Bar -->
