<!-- <h1>Hi {{pc.client.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in pc.allUsers">
            UserName:{{user.username}} </br>
        First Name:{{user.firstName}} </br>
        Last Name:{{user.lastName}} </br>
        - <a href="#" ng-click="pc.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .user-row {
        margin-bottom: 14px;
    }

    .user-row:last-child {
        margin-bottom: 0;
    }

    .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }

    .dropdown-user:hover {
        cursor: pointer;
    }

    .table-user-information>tbody>tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

    .table-user-information>tbody>tr:first-child {
        border-top: 0;
    }


    .table-user-information>tbody>tr>td {
        border-top: 0;
    }

    .toppad {
        margin-top: 20px;
    }

    .addressspan {
        display: block;
        width: 150px;
        word-wrap: break-word;
    }
</style>
<div class="container">
    <div class="row">
        <!--<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <A href="#/users/{{pc.patient._id}}/edit">Edit Profile</A>
        </div> -->
        <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <ul class="nav nav-tabs  tabs" role="tablist">
                <li ng-class="pc.getTabClass(1)" ng-click="pc.setActiveTab(1)" style="width:50%;">
                    <a class="nav-link active" data-toggle="tab" href="#/profile" role="tab">PROFILE</a>
                </li>
                <li ng-class="pc.getTabClass(2)" ng-click="pc.setActiveTab(2)" style="width:50%;">
                    <a class="nav-link" style="text-align:end;" data-toggle="tab" href="#/social" role="tab">SOCIAL</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tabs card-block">
            <div ng-class="pc.getTabPaneClass(1)" id="profile" role="tabpanel">
                <div
                    class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Hi {{pc.client.names.prefix}}
                                {{pc.client.names.first_name}}!</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <!-- <div class="col-md-3 col-lg-3" >
                                    <img alt="User Pic"
                                        src="img/{{(pc.id != undefined )? ( (pc.client.userType == 2 ) ? 'random-avatar'+pc.id : 'prandom-avatar'+pc.id) : 'avatar' }}.jpg"
                                        class="img-circle img-responsive">
                                </div> -->
                                <!-- Nav tabs -->
                                <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td style="width:2px"><i class="fa fa-address-card social_icon"
                                                        aria-hidden="false"></i></td>
                                                <td>
                                                    <h4>Profile</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-user-circle social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>Fist Name:</td>
                                                <td>{{pc.client.names.first_name}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>Last Name:</td>
                                                <td>{{pc.client.names.last_name}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>Type:</td>
                                                <td>{{ (pc.client.names.user_id == 2 ) ? 'Memeber' : 'Admin' }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>Registration Date:</td>
                                                <td>{{pc.client.names.created_at | date:'yyyy-MM-dd HH:mm:ss
                                                    Z'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-envelope social_icon" aria-hidden="false"></i></td>
                                                <td>Email:</td>
                                                <td>

                                                </td>
                                            </tr>
                                            <tr ng-repeat="email in pc.client.emailAddresses"
                                                ng-if="email.status == 'Active' || email.status == 'active'">
                                                <td>
                                                </td>
                                                <td>{{email.label }}:</td>
                                                <td>{{email.email_address}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-building social_icon" aria-hidden="false"></i></td>
                                                <td>Company:</td>
                                                <td>
                                                    {{pc.client.organization.name}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>Title:</td>
                                                <td>
                                                    {{pc.client.names.title}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat-start="address in pc.client.addresses" ng-if="address.status == 'Active' || address.status == 'active'">
                                                <td><i class="fa fa-map-pin social_icon" aria-hidden="false"
                                                        ></i>
                                                </td>
                                                <td>{{address.label}}:</td>
                                                <td></td>
                                            </tr>
                                            <tr ng-if="address.status == 'Active' || address.status == 'active'">
                                                <td></td>
                                                <td>Address Line 1</td>
                                                <td>
                                                    {{address.address_line1}}
                                                </td>
                                            </tr>
                                            <tr ng-if="address.status == 'Active' || address.status == 'active'">
                                                <td></td>
                                                <td>Address Line 2</td>
                                                <td>
                                                    {{address.address_line2}}
                                                </td>
                                            </tr>
                                            <tr ng-if="address.status == 'Active' || address.status == 'active'">
                                                <td></td>
                                                <td>City:</td>
                                                <td>
                                                    {{address.city}}
                                                </td>
                                            </tr>
                                            <tr ng-if="address.status == 'Active' || address.status == 'active'">
                                                <td></td>
                                                <td>Zip Code:</td>
                                                <td>
                                                    {{address.zipcode}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end
                                                ng-if="address.status == 'Active' || address.status == 'active'">
                                                <td></td>
                                                <td>State (two letters)</td>
                                                <td>
                                                    {{address.state}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-phone social_icon" aria-hidden="false"></i></td>
                                                <td>Phone:</td>
                                                <td>
                                                    {{pc.client.Phone_3_Value}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat="phone in pc.client.phones"
                                                ng-if="phone.status == 'Active' || phone.status == 'active'">
                                                <td>
                                                </td>
                                                <td>{{phone.label}}:</td>
                                                <td>{{phone.number}}</td>
                                            </tr>

                                            <tr>
                                                <td><i class="fa fa-link social_icon" aria-hidden="false"></i></td>
                                                <td>Website:</td>
                                                <td>

                                                </td>
                                            </tr>
                                            <tr ng-repeat="weburl in pc.client.webUrls"
                                                ng-if="weburl.status == 'Active' || weburl.status == 'active'">
                                                <td>
                                                </td>
                                                <td>{{weburl.label}}:</td>
                                                <td>{{weburl.url}}</td>
                                            </tr>

                                            <tr>
                                                <td><i class="fa fa-link social_icon" aria-hidden="false"></i></td>
                                                <td>Additional Info:</td>
                                                <td>

                                                </td>
                                            </tr>
                                            <tr ng-repeat="customField in pc.client.customFields"
                                                ng-if="customField.status == 'Active' || customField.status == 'active'">
                                                <td>
                                                </td>
                                                <td>{{customField.label}}:</td>
                                                <td>{{customField.value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <a href="#/{{ (pc.client.userType == 2 ) ? 'providers' : 'users' }}/{{ (pc.id == undefined ) ? 'new' : pc.id + '/profile' }}"
                                            class="btn btn-primary">Save Client</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a data-original-title="Broadcast Message" href="mailto:{{pc.client.username}}"
                                data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                <i class="glyphicon glyphicon-download"></i>
                            </a>
                            <span class="pull-right">
                                <a href="#/clients/{{pc.client.names.id}}/edit" data-original-title="Edit this user"
                                    data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a data-original-title="Remove this user" data-toggle="tooltip"
                                    ng-click="pc.deleteUser(user.id)" type="button" class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="pc.getTabPaneClass(2)" id="social" role="tabpanel">
                <div
                    class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Hi {{pc.client.names.prefix}}
                                {{pc.client.names.first_name}}!</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <!-- <div class="col-md-3 col-lg-3" >
                                                    <img alt="User Pic"
                                                        src="img/{{(pc.id != undefined )? ( (pc.client.userType == 2 ) ? 'random-avatar'+pc.id : 'prandom-avatar'+pc.id) : 'avatar' }}.jpg"
                                                        class="img-circle img-responsive">
                                                </div> -->
                                <!-- Nav tabs -->
                                <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 ">
                                    <table class="table table-user-information">
                                        <tr>
                                            <td style="width:2px"><i class="fa fa-address-card social_icon"
                                                    aria-hidden="false"></i></td>
                                            <td>
                                                <h4>Social</h4>
                                            </td>
                                        </tr>

                                        <tr ng-repeat="social in pc.client.socials">
                                            <td><i class="fa fa-{{social.label |lowercase}} social_icon"
                                                    aria-hidden="false"></i>
                                            </td>
                                            <td>{{social.label}}:</td>
                                            <td>{{social.url}}</td>
                                        </tr>
                                        <!--
                                            <tr>
                                                <td><i class="fa fa-instagram social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-youtube-play social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-twitter social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-spotify social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-     social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-pinterest social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-snapchat social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-whatsapp social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-vimeo social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-itunes social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-google-play social_icon" aria-hidden="false"></i>
                                                </td>
                                                <td>{{pc.client.url2}}</td>
                                            </tr>-->
                                    </table>
                                    </tbody>
                                    </table>
                                    <!-- <a href="#/{{ (pc.client.userType == 2 ) ? 'providers' : 'users' }}/{{ (pc.id == undefined ) ? 'new' : pc.id + '/profile' }}"
                                            class="btn btn-primary">Save Client</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a data-original-title="Broadcast Message" href="mailto:{{pc.client.username}}"
                                data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                <i class="glyphicon glyphicon-download"></i>
                            </a>
                            <span class="pull-right">
                                <a href="#/clients/{{pc.client.id}}/edit" data-original-title="Edit this user"
                                    data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a data-original-title="Remove this user" data-toggle="tooltip"
                                    ng-click="pc.deleteUser(user.id)" type="button" class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>