<section class="content profile-page">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .user-row {
            margin-bottom: 14px;
        }

        .user-row:last-child {
            margin-bottom: 0;
        }

        .dropdown-user {
            margin: 13px 0;
            padding: 5px;
            height: 100%;
        }

        .dropdown-user:hover {
            cursor: pointer;
        }

        .table-user-information>tbody>tr {
            border-top: 1px solid rgb(221, 221, 221);
        }

        .table-user-information>tbody>tr:first-child {
            border-top: 0;
        }


        .table-user-information>tbody>tr>td {
            border-top: 0;
        }

        .toppad {
            margin-top: 20px;
        }

        .addressspan {
            display: block;
            width: 150px;
            word-wrap: break-word;
        }
        .signature {
            padding: 20px 20px 80px 20px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
            box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.40);
            border: none;
            margin-bottom: 30px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            flex-flow: row-reverse;
        }

        .bttn_signature {
            font-size: 25px;
            border-radius: 10px;
            border: none;
            background-color: #0087E8;
            color: white;
            padding: 10px 28px;
        }

        .bttn_signature:focus {
            outline:none;
        }
    </style>
    <div ng-init=contactCtrl.edit() class="container">
        <div class="pcoded-inner-content">
            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Page-body start -->
                    <div class="page-body">
                        <div class="row">
        
                            <!--  sale analytics start -->
        
        
                            <div class="col-xl-12 col-md-12">
        
                                <div class="tab-content tabs card-block">
                                    <div class="tab-pane active" id="profile" role="tabpanel">
                                        <div class="row">
        
                                            <img src="img/bc.jpg" />
                                            <div class="col-lg-10 mt-3">
                                                <h5> SEND SMS TO LEAD</h5><br />
                                                Your lead will receive card after completing the from
                                            </div>
                                            <div class="col-lg-2 mt-3">
                                                <input required type="checkbox" name="" class="form-control" placeholder="">
                                            </div>
        
                                            <div class="col-lg-10 mt-3">
                                                <h5>RECEIVE SMS FROM LEAD</h5><br />
                                                Receive a business card from your lead after completing the from
                                            </div>
                                            <div class="col-lg-2 mt-3">
                                                <input required type="checkbox" name="" class="form-control" placeholder="">
                                            </div>
        
                                            <div class="col-md-12 col-xl-12 mt-5">
                                                <div class="page-header-title">
                                                    <h5 style="text-align:center;">FROM SETTINGS</h5>
                                                </div>
                                            </div>
                                            <div class="col-lg-10 mt-3">
                                                <h5>FULL NAME</h5><br />
                                                [mandatory field]
                                            </div>
                                            <div class="col-lg-2 mt-3">
                                                <input required type="checkbox" name="" class="form-control" placeholder="">
                                            </div>
        
                                            <div class="col-lg-10 mt-3">
                                                <h5>MOBILE PHONE</h5><br />
                                                [mandatory field]
                                            </div>
                                            <div class="col-lg-2 mt-3">
                                                <input required type="checkbox" name="" class="form-control" placeholder="">
                                            </div>
        
        
                                            <div class="col-lg-10 mt-3">
                                                <h5>EMAIL ADDRESS</h5><br />
                                                [optional]
                                            </div>
                                            <div class="col-lg-2 mt-3">
                                                <input required type="checkbox" name="" class="form-control" placeholder="">
                                            </div>
        
                                            <div class="col-lg-10 mt-3">
                                                <h5>COMPANY NAME</h5><br />
                                                [optional]
                                            </div>
                                            <div class="col-lg-2 mt-3">
                                                <input required type="checkbox" name="" class="form-control" placeholder="">
                                            </div>
        
                                            <div class="col-lg-10 mt-3">
                                                <h5>CUSTOM FIELD</h5><br />
                                                [optional]
                                            </div>
                                            <div class="col-lg-2 mt-3">
                                                <input required type="checkbox" name="" class="form-control" placeholder="">
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                            <!--  sale analytics end -->
        
                        </div>
                    </div>
                    <!-- Page-body end -->
                </div>
                <div id="styleSelector"> </div>
            </div>
        </div>
     </div>   
</section>