<div class="panel panel-default">
    <div class="panel-heading">Lead Generation</div>
    <div class="panel-body">
        <div ng-init=contactCtrl.edit() class="row">
            <div class="col-xs-9">
                <form class="form-horizontal" autocomplete="off" role="form" novalidate name="formProviders"
                    data-ng-submit="contactCtrl.save(contactCtrl.contact)">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textInputFullName">Full Name</label>
                            <div class="col-md-4">
                                <input id="textInputFullName" name="textInputFullName" type="text"
                                    placeholder="Full Name" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasicCountryCode"></label>
                            <div class="col-md-2">
                                <select id="selectbasicCountryCode" name="selectbasicCountryCode" class="form-control">
                                    <option value="US (+1)">US (+1)</option>
                                </select>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textInputMobilePhone">Mobile Phone</label>
                            <div class="col-md-4">
                                <input id="textInputMobilePhone" name="textInputMobilePhone" type="text"
                                    placeholder="Mobile Phone" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinputEmailAddress">Email Address</label>
                            <div class="col-md-4">
                                <input id="textinputEmailAddress" name="textinputEmailAddress" type="text"
                                    placeholder="Email Address" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinputCompanyName">Company Name</label>
                            <div class="col-md-4">
                                <input id="textinputCompanyName" name="textinputCompanyName" type="text"
                                    placeholder="Company Name" class="form-control input-md">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinputCustomFields">Custom Field</label>
                            <div class="col-md-4">
                                <input id="textinputCustomFields" name="textinputCustomFields" type="text"
                                    placeholder="" class="form-control input-md">

                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 ">
                            <label class="col-md-6 control-label"></label>
                            <div class="col-lg-6" data-ng-if="formProviders.$invalid && formProviders.data.$dirty">
                                <p>You shall not pass =/</p>
                                <p>You only can finish the operation if all fields required was populated correctly</p>
                            </div>
                            <input type="submit"
                                class="btn btn-primary btn-outline col-lg-3 col-md-3 col-sm-3  clearfix" value="SAVE" />
                            <!--data-ng-disabled="formProviders.$invalid && !formProviders.data.$dirty"-->
                            <!-- <a class="btn btn-danger btn-outline col-lg-3 col-md-3 col-sm-3 " href="#/contacts">CANCEL</a>-->
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>