<style>
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    html {
        overflow-y: scroll;
    }
    
    .tos {
        font-size: 1.2rem;
        text-align: center;
    }
    
    p {
        color: #c4c2df;
        margin: 10px 0 10px;
    }
    
    hr {
        height: 2px;
        border: none;
        background-color: none;
        background-image: -webkit-linear-gradient(left, rgba(136, 136, 144, 0) 0%, #f3f3f8 5%, #f3f3f8 95%, rgba(136, 136, 144, 0) 100%);
        background-image: -moz-linear-gradient(left, rgba(136, 136, 144, 0) 0%, #f3f3f8 5%, #f3f3f8 95%, rgba(136, 136, 144, 0) 100%);
        background-image: -ms-linear-gradient(left, rgba(136, 136, 144, 0) 0%, #f3f3f8 5%, #f3f3f8 95%, rgba(136, 136, 144, 0) 100%);
        background-image: linear-gradient(to right, rgba(136, 136, 144, 0) 0%, #f3f3f8 5%, #f3f3f8 95%, rgba(136, 136, 144, 0) 100%);
        display: block;
        margin-top: 0.3rem;
        margin-left: -20px;
        margin-right: -20px;
        opacity: 0.6;
    }
    
    body {
        background: #c1bdba;
        font-family: 'Titillium Web', sans-serif;
    }
    
    a {
        text-decoration: none;
        color: #4285F4;
        -webkit-transition: .5s ease;
        transition: .5s ease;
    }
    
    a:hover {
        color: #4285F4;
    }
    
    .form {
        background: #283641;
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    }
    
    .tab-group {
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
    }
    
    .tab-group:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .tab-group li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba(160, 179, 176, 0.25);
        color: #a0b3b0;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        -webkit-transition: .5s ease;
        transition: .5s ease;
    }
    
    .tab-group li a:hover {
        background: #4285F4;
        color: #ffffff;
    }
    
    .tab-group .active a {
        background: #4285F4;
        color: #ffffff;
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: #ffffff;
        font-weight: 300;
        margin: 0 0 0px;
    }
    
    h2 {
        text-align: center;
        color: #ffffff;
        font-weight: 100;
        margin: 0 0 5x;
    }
    
    label {
        left: 13px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 22px;
    }
    
    label .req {
        margin: 2px;
        color: #4285F4;
    }
    
    input,
    textarea {
        font-size: 22px;
        display: block;
        width: 100%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        color: #ffffff;
        border-radius: 0;
        transition: border-color .25s ease, box-shadow .25s ease;
    }
    
    input:focus,
    textarea:focus {
        outline: 0;
        border-color: #4285F4;
    }
    
    textarea {
        border: 2px solid #a0b3b0;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 20px;
    }
    
    .top-row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .top-row > div {
        float: left;
        width: 48%;
        margin-right: 4%;
    }
    
    .top-row > div:last-child {
        margin: 0;
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1em;
        background: #4285F4;
        color: #ffffff;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-appearance: none;
    }
    
    .button:hover,
    .button:focus {
        background: #4285F4;
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
    }

</style>
<div class="container">

    <div class="form">

        <ul class="tab-group">
            <li class="tab active"><a href="#/login">Log In</a></li>
            <li class="tab"><a href="#/register">Register</a></li>

        </ul>

        <div id="login">
            <h2>Welcome Back!</h2>
            <hr>

            <form name="form" ng-submit="vm.login()" role="form">
                <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

                <div class="field-wrap" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label>Email Address<span class="req">*</span></label>
                    <input type="email" id="username" name="username" ng-model="vm.username" required autocomplete="off" />
                    <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>-->
                </div>

                <div class="field-wrap" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label>Password<span class="req">*</span></label>
                    <input type="password" id="password" name="password" ng-model="vm.password" required autocomplete="off" />
                    <!--<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>-->
                </div>
                <p class="forgot"><a href="#">Forgot Password?</a></p>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="button button-block">Login</button>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <!--   <a href="#/register" class="btn btn-link">Sign Up</a> -->
                </div>
                <!--<p class="forgot"><a href="#">Forgot Password?</a></p>-->
            </form>
        </div>
    </div>
    <!-- /form -->
</div>
