<div  ng-init=clientCtrl.edit()  class="panel panel-default">
    <div class="panel-heading">Organization Setup</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-9">
                <form class="form-horizontal" autocomplete="off" role="form" novalidate name="formOrganizations"
                    data-ng-submit="organizationCtrl.save(organizationCtrl.organization)">
                    <fieldset>
                        <legend>Add a new Organization</legend>
                        <input type="hidden" data-ng-model="organizationCtrl.organization._id" />

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Organization Name:</label>
                            <div class="col-md-3">
                                <input id="name" name="name" type="text"
                                    data-ng-model="organizationCtrl.organization.name"
                                    data-ng-class="{empty: organizationCtrl.organization.name.length === 0 || organizationCtrl.organization.name.length === undefined}"
                                    placeholder="Organization Name" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="phoneNumber">Phone Number:</label>
                            <div class="col-md-3">
                                <input id="phoneNumber" name="phoneNumber"
                                    data-ng-model="organizationCtrl.organization.phone_number"
                                    data-ng-class="{empty: organizationCtrl.organization.phone_number.length === 0 || organizationCtrl.organization.phone_number.length === undefined}"
                                    type="text" placeholder="Phone Number" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Email:</label>
                            <div class="col-md-3">
                                <input id="email" name="email" type="text"
                                    data-ng-model="organizationCtrl.organization.email"
                                    data-ng-class="{empty: organizationCtrl.organization.email.length === 0 || organizationCtrl.organization.email.length === undefined}"
                                    placeholder="Email" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="webUrl">Url:</label>
                            <div class="col-md-3">
                                <input id="webUrl" name="webUrl" type="text"
                                    data-ng-model="organizationCtrl.organization.website"
                                    data-ng-class="{empty: organizationCtrl.organization.website.length === 0 || organizationCtrl.organization.website.length === undefined}"
                                    placeholder="Website" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="addressLine1">Address Line 1:</label>
                            <div class="col-md-3">
                                <input id="addressLine1" name="addressLine1" type="text"
                                    data-ng-model="organizationCtrl.organization.address_line1"
                                    data-ng-class="{empty: organizationCtrl.organization.address_line1.length === 0 || organizationCtrl.organization.address_line1.length === undefined}"
                                    placeholder="Address Line 1" class="form-control input-md" required="">

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="addressLine2">Address Line 2:</label>
                            <div class="col-md-2">
                                <input id="addressLine2" name="addressLine2" type="text"
                                    data-ng-model="organizationCtrl.organization.address_line2"
                                    data-ng-class="{empty: organizationCtrl.organization.address_line2.length === 0 || organizationCtrl.organization.address_line2.length === undefined}"
                                    placeholder="Address Line 2" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="city">City:</label>
                            <div class="col-md-2">
                                <input id="city" name="city" type="text"
                                    data-ng-model="organizationCtrl.organization.city"
                                    data-ng-class="{empty: organizationCtrl.organization.city.length === 0 || organizationCtrl.organization.city.length === undefined}"
                                    placeholder="Address Line 2" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="zipCode">Zip Code:</label>
                            <div class="col-md-2">
                                <input id="zipCode" name="zipCode" type="text"
                                    data-ng-model="organizationCtrl.organization.zip_code"
                                    data-ng-class="{empty: organizationCtrl.organization.zip_code.length === 0 || organizationCtrl.organization.zip_code.length === undefined}"
                                    placeholder="Zip Code" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="state">State:</label>
                            <div class="col-md-2">

                                <select required="" name="state" data-ng-model="organizationCtrl.organization.state"
                                    class="form-control dummy_validation">
                                    <option value=""></option>
                                    <option value="AL">Alabama (AL)</option>
                                    <option value="AK">Alaska (AK)</option>
                                    <option value="AZ">Arizona (AZ)</option>
                                    <option value="AR">Arkansas (AR)</option>
                                    <option value="CA">California (CA)</option>
                                    <option value="CO">Colorado (CO)</option>
                                    <option value="CT">Connecticut (CT)</option>
                                    <option value="DE">Delaware (DE)</option>
                                    <option value="DC">District Of Columbia (DC)</option>
                                    <option value="FL">Florida (FL)</option>
                                    <option value="GA">Georgia (GA)</option>
                                    <option value="HI">Hawaii (HI)</option>
                                    <option value="ID">Idaho (ID)</option>
                                    <option value="IL">Illinois (IL)</option>
                                    <option value="IN">Indiana (IN)</option>
                                    <option value="IA">Iowa (IA)</option>
                                    <option value="KS">Kansas (KS)</option>
                                    <option value="KY">Kentucky (KY)</option>
                                    <option value="LA">Louisiana (LA)</option>
                                    <option value="ME">Maine (ME)</option>
                                    <option value="MD">Maryland (MD)</option>
                                    <option value="MA">Massachusetts (MA)</option>
                                    <option value="MI">Michigan (MI)</option>
                                    <option value="MN">Minnesota (MN)</option>
                                    <option value="MS">Mississippi (MS)</option>
                                    <option value="MO">Missouri (MO)</option>
                                    <option value="MT">Montana (MT)</option>
                                    <option value="NE">Nebraska (NE)</option>
                                    <option value="NV">Nevada (NV)</option>
                                    <option value="NH">New Hampshire (NH)</option>
                                    <option value="NJ">New Jersey (NJ)</option>
                                    <option value="NM">New Mexico (NM)</option>
                                    <option value="NY">New York (NY)</option>
                                    <option value="NC">North Carolina (NC)</option>
                                    <option value="ND">North Dakota (ND)</option>
                                    <option value="OH">Ohio (OH)</option>
                                    <option value="OK">Oklahoma (OK)</option>
                                    <option value="OR">Oregon (OR)</option>
                                    <option value="PA">Pennsylvania (PA)</option>
                                    <option value="RI">Rhode Island (RI)</option>
                                    <option value="SC">South Carolina (SC)</option>
                                    <option value="SD">South Dakota (SD)</option>
                                    <option value="TN">Tennessee (TN)</option>
                                    <option value="TX">Texas (TX)</option>
                                    <option value="UT">Utah (UT)</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="aboutOrg">About Org:</label>
                            <div class="col-md-4">
                                <textarea class="form-control" id="aboutOrg"
                                    data-ng-model="organizationCtrl.organization.about_org"
                                    data-ng-class="{empty: organizationCtrl.organization.about_org.length === 0 || organizationCtrl.organization.about_org.length === undefined}"
                                    placeholder="About Organization" name="about_org">About Organization</textarea>
                            </div>
                        </div>

                        <!-- Button (Double) -->
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 ">
                            <label class="col-md-6 control-label"></label>
                            <div class="col-lg-6"
                                data-ng-if="formOrganizations.$invalid && formOrganizations.data.$dirty">
                                <p>You shall not pass =/</p>
                                <p>You only can finish the operation if all fields required was populated correctly</p>
                            </div>
                            <input type="submit"
                                class="btn btn-primary btn-outline col-lg-3 col-md-3 col-sm-3  clearfix" value="CREATE"
                                data-ng-disabled="formOrganizations.$invalid && !formOrganizations.data.$dirty" />
                            <a class="btn btn-danger btn-outline col-lg-3 col-md-3 col-sm-3 "
                                href="#/contacts">CANCEL</a>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>