<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
            MagikTap 
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li ng-show="isIndividual()"class="sidebar-list">
            <a href="#/">Home {{mc.currentUser.firstName}} <span class="menu-icon fa fa-book"></span></a>
        </li>
        <li ng-show="isReseller()" class="sidebar-list">
            <a href="#/organizations">Organizations <span class="menu-icon fa fa-users"></span></a>
        </li> 
        <li ng-show="isReseller()" class="sidebar-list">
            <a href="#/contacts">Individuals <span class="menu-icon fa fa-users"></span></a>
        </li> 
        <li ng-show="isIndividual()" class="sidebar-list">
                <a href="#/leads">Lead Generation <span class="menu-icon fa fa-shield"></span></a>
            </li>
        <li ng-show="isIndividual()" class="sidebar-list">
            <a href="#/cards">Email Signiture <span class="menu-icon fa fa-bank"></span></a>
        </li>
        <!-- <li  class="sidebar-list">
            <a href="#/users">Link Tracking <span class="menu-icon fa fa-building"></span></a>
        </li>-->
     </ul>
    <div class="sidebar-footer">
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4">
            <a href="#" target="_blank">
             About
          </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
            Support
          </a>
        </div>
    </div>
</div>
<!-- End Sidebar -->
