<div class="input-group">
    <label>Below</label>
    <input class="form-control input-sm" type="number" step="0.01" ng-model="lower" />
</div>
<div class="input-group">
    <label>Above</label>
    <input type="number" class="form-control input-sm" step="0.01" ng-model="higher" />
</div>
