<!doctype html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MagikTap: Smart Personal/Business Card</title>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->



    <!-- STYLES -->
    <!-- build:css lib/css/main.min.css -->
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
    <link rel="stylesheet" type="text/css" href="components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- endbuild -->
    <!-- SCRIPTS -->

    <!-- build:js lib/js/main.min.js -->
    <script type="text/javascript" src="components/web3/dist/web3.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="components/angular-smart-table/dist/smart-table.js"></script>
    <script type="text/javascript" src="components/Chart.js/Chart.js"></script>
    <script type="text/javascript" src="components/angular-chart.js/dist/angular-chart.js"></script>
    <script type="text/javascript" src="components/angular-keepr/dist/keepr.js"></script>
    <script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="components/cryptojs-tripledes/tripledes.js"></script>
    <script type="text/javascript" src="components/ng-csv/build/ng-csv.min.js"></script>
    <script type="text/javascript" src="components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="components/ng-file-upload/ng-file-upload.min.js"></script>
    <!-- endbuild -->

    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>
<!--controller="MasterCtrl" -->

<body ng-controller="MasterCtrl">
    <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
        <div ui-view="sidebar"></div>

        <div id="content-wrapper">
            <div class="page-content">

                <div ui-view="headbar"></div>
                <div class="col-sm-8 col-sm-offset-2">
                    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                </div>

                <!-- Main Content -->
                <div ui-view="main" class="ng-scope"></div>

            </div>
            <!-- End Page Content -->
        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- End Page Wrapper -->
    <!-- <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <h1 class="text-center">Pete's Pet Shop</h1>
            <hr/>
            <br/>
          </div>
        </div>
  
        <div id="petsRow" class="row">
          <!-- PETS LOAD HERE -->
        <!-- </div>
      </div> --> 
  
      <!-- <div id="petTemplate" style="display: none;">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="panel panel-default panel-pet">
            <div class="panel-heading">
              <h3 class="panel-title">Scrappy</h3>
            </div>
            <div class="panel-body">
              <img alt="140x140" data-src="holder.js/140x140" class="img-rounded img-center" style="width: 100%;" src="https://animalso.com/wp-content/uploads/2017/01/Golden-Retriever_6.jpg" data-holder-rendered="true">
              <br/><br/>
              <strong>Breed</strong>: <span class="pet-breed">Golden Retriever</span><br/>
              <strong>Age</strong>: <span class="pet-age">3</span><br/>
              <strong>Location</strong>: <span class="pet-location">Warren, MI</span><br/><br/>
              <button class="btn btn-default btn-adopt" type="button" data-id="0">Adopt</button>
            </div>
          </div>
        </div>
      </div> -->
</body>

</html>
